@import "tailwindcss";

@theme {
  --color-darken: #1a1a1a;
  --color-grayish: #969696;
  --color-lighten: #f5f5f5;
  --color-primary: #A34C43;
  --color-secondary: #658963;
  --color-accent: #E0A15E;
  --color-claro: #DCC9A9;
}

@font-face {
  font-family: zekton;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/zekton.ttf") format("truetype");
}