<!-- ---

---

<header class="p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold">Dromel Dev</h1>
    <nav class="space-x-4">
        <a href="#services" class="hover:text-[#B8EA2D]">Servicios</a>
        <a href="#projects" class="hover:text-[#B8EA2D]">Proyectos</a>
        <a href="#contact" class="hover:text-[#B8EA2D]">Contacto</a>
    </nav>
</header> -->
