---
import Image from "astro/components/Image.astro";
import imgImage4 from "../assets/imgs/calabaza.png";

var services = [
    {
        title: "Landing Pages",
        description: `Un landing page es una página web enfocada en un objetivo específico, como presentar un producto, servicio o proyecto, y motivar al visitante a realizar una acción concreta.<br/><br/>En un landing page se pueden incluir elementos como:<ul><li>- Información clara y visualmente atractiva.</li><li>- Formularios de contacto o registro.</li><li>- Botones de llamada a la acción (CTA).</li><li>- Secciones optimizadas para destacar beneficios o características.</li></ul><br/>Su propósito principal es convertir visitantes en clientes potenciales o en usuarios interesados.`,
    },
    {
        title: "WebViews",
        description: `Implementación de WebViews en aplicaciones móviles para Android e iOS, lo que permite mostrar contenido web dentro de una app nativa de forma fluida y segura.<br/><br/>Con esta integración es posible:<ul><li>- Incluir páginas web, sistemas o formularios dentro de la aplicación.</li><li>- Garantizar compatibilidad multiplataforma usando WKWebView en iOS y WebView en Android.</li><li>- Personalizar la interfaz para mantener la identidad visual de la app.</li></ul><br/>Esta solución es ideal para proyectos que combinan desarrollo web con aplicaciones móviles, ofreciendo flexibilidad y un acceso unificado a la información.`,
    },
    {
        title: "Otros Desarrollos",
        description: `Además de landing pages y la integración de WebViews, también ofrezco otros servicios de desarrollo:<br/><br/><ul><li>- Sistemas web: creación de plataformas de gestión y administración en línea (ejemplo: sistema para facturación y control de clientes).</li><li>- E-commerce: desarrollo de tiendas en línea con carrito de compras, pasarela de pago y gestión de productos (ejemplo: tienda virtual para venta de ropa).</li><li>- Automatización y APIs: integración de servicios externos y automatización de procesos mediante APIs (ejemplo: conexión con sistemas de pago o envío de correos automáticos).</li></ul>`,
    },
];
---

<section class="md:w-max-6xl flex justify-center p-8" id="services">
    <!-- ServiceDiv -->
    <div
        class="flex flex-col sm:flex-row items-center md:items-stretch md:justify-center"
    >
        <div
            class="relative bg-primary rounded-t-[25px] md:rounded-bl-[25px] py-2 md:services-title w-fit md:w-auto"
        >
            <p
                class="font-normal leading-[normal] not-italic text-[32px] text-center text-claro w-[228px]"
            >
                Services
            </p>
            <div class="relative" data-name="image 4">
                <Image
                    src={imgImage4}
                    alt="Decoración"
                    class="w-32 md:w-auto md:absolute"
                />
            </div>
        </div>

        <div
            class="grid md:grid-cols-3 gap-4 bg-primary min-h-[208px] rounded-[25px] md:rounded-l-none md:mt-10 md:w-6xl md:px-12 sm:grid-cols-1"
        >
            {
                services.map((service) => (
                    <div class="md:h-20 rounded-[25px] md:top-42 w-full md:-mt-5">
                        <div class="relative md:-mt-8 border-4 border-darken ring-primary ring-3 md:w-50 rounded-t-[25px] service-card-title">
                            <p class="relative bg-primary rounded-[25px] w-full px-4 py-2 text-lg z-10 text-accent ">
                                {service.title}
                            </p>
                        </div>
                        <div class="relative border-4 border-darken ring-primary ring-3 rounded-[30px] bg-darken rounded-t-none md:rounded-tr-[25px] w-full m-w-[350px]">
                            <div class="relative bg-primary rounded-[28px] w-full p-4 z-10 text-claro text-sm">
                                <span set:html={service.description} />
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style>
    .services-title::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        right: -20px;
        top: 20px;
        border-radius: 0 0 0 25px;
        z-index: 2;
        box-shadow: -4px 4px 0px 4px var(--color-primary);
        background-color: aquamarine;
    }

    .service-card-title::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 20px;
        right: -34px;
        bottom: -4px;
        border-radius: 0 0 0 50px;
        z-index: 2;
        border: 3px solid var(--color-primary);
        border-right: none;
        border-top: none;
        box-shadow: -5px 3px 0px 3px var(--color-darken);
    }
    @media (max-width: 768px) {
        .service-card-title::after {
            display: none;
        }
    }

    .service-card-title::before {
        content: "";
        position: absolute;
        width: calc(100% + 8px);
        height: 5px;
        z-index: 1;
        left: -4px;
        bottom: -5px;
        background-color: var(--color-darken);
    }
</style>
